<div class="flex flex-col flex-auto min-w-4" style="margin: 30px 30px;">


  <form class="flex flex-col mt-10 p-10 pb-8 bg-card rounded-2xl shadow overflow-hidden">
  <div class="mt-4 text-4xl font-extrabold tracking-tight leading-tight">Ajouter Employes</div>
    <br><br>
  <div class="flex flex-col gt-xs:flex-row">
        <mat-form-field
            [ngClass]="formFieldHelpers"
            class="flex-auto gt-xs:pr-3">
            <mat-label>Nom</mat-label>
            <input matInput>
            <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
        </mat-form-field>
        <mat-form-field
            [ngClass]="formFieldHelpers"
            class="flex-auto gt-xs:pl-3">
            <mat-label>Prenom</mat-label>
            <input matInput>
            <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
        </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Date Naissance</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field
            [ngClass]="formFieldHelpers"
            class="flex-auto gt-xs:pr-3">
            <mat-label>Email</mat-label>
            <input matInput>
            <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:mail'"></mat-icon>
        </mat-form-field>
    <div class="flex flex-col gt-md:flex-row">
        <mat-form-field
            [ngClass]="formFieldHelpers"
            class="flex-auto gt-md:pr-3">
            <mat-label>Numero</mat-label>
            <input matInput>
            <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:phone'"></mat-icon>
        </mat-form-field>
        
    </div>
    <div class="flex">
        <mat-form-field
            [ngClass]="formFieldHelpers"
            class="flex-auto">
            <mat-label>CIN</mat-label>
            <input
                matInput
                maxlength="8"
                #postalCode>
            <mat-hint align="end">{{postalCode.value.length}} / 8</mat-hint>
            <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:identification'"></mat-icon>
        </mat-form-field>
    </div>
   

    <div class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-200 shadow-lg overflow-hidden">
      
      <div class="flex items-center -my-px py-2 px-3">
          
        <mat-label class="flex-auto gt-md:pr-3">Type</mat-label>
      </div>
      
      <div class="h-44 leading-none overflow-y-auto border-t border-gray-100dark:border-gray-100">
          
          <div  class="flex items-center h-10 min-h-10 px-4"
          class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            
                <div> <mat-checkbox [color]="'primary'" class="exemple-margin"> Directeur</mat-checkbox> </div>
                 <mat-checkbox [color]="'primary'" class="exemple-margin"> Directeur général</mat-checkbox> 
                 
          </div>
         
                
        
        
      </div>
  </div>


  <br>
  <div class="row" class="contains">
    <button mat-raised-button color="primary">Ajouter</button>
    <button mat-stroked-button>Annuler</button>
  </div>