<div class="flex flex-col flex-auto min-w-4" style="margin: 30px 30px;">


    <form class="flex flex-col mt-10 p-10 pb-8 bg-card rounded-2xl shadow overflow-hidden">
    <div class="mt-4 text-4xl font-extrabold tracking-tight leading-tight">Modifier Eleve</div>
      <br><br>
    <div class="flex flex-col gt-xs:flex-row">
          <mat-form-field
              [ngClass]="formFieldHelpers"
              class="flex-auto gt-xs:pr-3">
              <mat-label>Nom</mat-label>
              <input matInput>
              <mat-icon
                  class="icon-size-5"
                  matSuffix
                  [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
          </mat-form-field>
  
        
          <mat-form-field
              [ngClass]="formFieldHelpers"
              class="flex-auto gt-xs:pl-3">
              <mat-label>Prenom</mat-label>
              <input matInput>
              <mat-icon
                  class="icon-size-5"
                  matSuffix
                  [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
          </mat-form-field>
  
          <mat-form-field
          [ngClass]="formFieldHelpers"
          class="flex-auto gt-xs:pr-3">
          <mat-label>Parents</mat-label>
          <input matInput>
          <mat-icon
              class="icon-size-5"
              matSuffix
              [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
      </mat-form-field>
  
      <mat-form-field class="flex-auto gt-xs:pl-3">
        <mat-select [placeholder]="'Sexe'">
          <mat-option value="Spécialité">Hommes</mat-option>
            <mat-option value="Spécialité1">Femmes</mat-option>
           
        </mat-select>
        
    </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Date Naissance</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field
              [ngClass]="formFieldHelpers"
              class="flex-auto gt-xs:pr-3">
              <mat-label>Email</mat-label>
              <input matInput>
              <mat-icon
                  class="icon-size-5"
                  matSuffix
                  [svgIcon]="'heroicons_solid:mail'"></mat-icon>
          </mat-form-field>
      <div class="flex flex-col gt-md:flex-row">
        <mat-form-field
        [ngClass]="formFieldHelpers"
        class="flex-auto">
        <mat-label>CIN</mat-label>
        <input
            matInput
            maxlength="8"
            #postalCode>
        <mat-hint align="end">{{postalCode.value.length}} / 8</mat-hint>
        <mat-icon
            class="icon-size-5"
            matSuffix
            [svgIcon]="'heroicons_solid:identification'"></mat-icon>
    </mat-form-field>
          
          
      </div>
      <div class="flex">
        <mat-form-field
              [ngClass]="formFieldHelpers"
              class="flex-auto gt-md:pr-3">
              <mat-label>Numero</mat-label>
              <input matInput>
              <mat-icon
                  class="icon-size-5"
                  matSuffix
                  [svgIcon]="'heroicons_solid:phone'"></mat-icon>
          </mat-form-field>
  
          <mat-form-field
          [ngClass]="formFieldHelpers"
          class="flex-auto gt-xs:pr-3">
          <mat-label>Adresse</mat-label>
          <input matInput>
          <mat-icon
              class="icon-size-5"
              matSuffix
              [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
      </mat-form-field>
      </div>
      <mat-form-field class="flex-auto gt-xs:pl-3">
        <mat-select [placeholder]="'Spécialité'">
          <mat-option value="Spécialité">Spécialité</mat-option>
            <mat-option value="Spécialité1">Spécialité 1</mat-option>
            <mat-option value="Spécialité2">Spécialité 2</mat-option>
            <mat-option value="Spécialité3">Spécialité 3</mat-option>
        </mat-select>
        <mat-icon
            class="icon-size-5"
            matPrefix
            [svgIcon]="'heroicons_solid:academic-cap'"></mat-icon>
    </mat-form-field>
  
    <mat-form-field class="flex-auto gt-xs:pl-3">
      <mat-select [placeholder]="'Niveau'">
        <mat-option value="Niveau">Niveau</mat-option>
          <mat-option value="Niveau1">Niveau 1</mat-option>
          <mat-option value="Niveau2">Niveau 2</mat-option>
          <mat-option value="Niveau3">Niveau 3</mat-option>
      </mat-select>
      <mat-icon
          class="icon-size-5"
          matPrefix
          [svgIcon]="'heroicons_solid:bookmark'"></mat-icon>
  </mat-form-field>
  
  <mat-form-field class="flex-auto gt-xs:pl-3">
    <mat-select [placeholder]="'Classe'">
      <mat-option value="Classe">Classe</mat-option>
        <mat-option value="Classe1">Classe 1</mat-option>
        <mat-option value="Classe2">Classe 2</mat-option>
        <mat-option value="Classe3">Classe 3</mat-option>
    </mat-select>
    <mat-icon
        class="icon-size-5"
        matPrefix
        [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
  </mat-form-field>
  
  <mat-form-field
  [ngClass]="formFieldHelpers"
  class="flex-auto gt-xs:pr-3">
  <mat-label>Activité extra scolaire</mat-label>
  <input matInput>
  <mat-icon
      class="icon-size-5"
      matSuffix
      [svgIcon]="''"></mat-icon>
  </mat-form-field>
      <br>
      <button mat-raised-button color="primary">Modifier</button>
    </form>
    </div>
