<div class="flex flex-col flex-auto min-w-4">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
        class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Liste Utilisateurs</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Recherche utilisateur'">
            </mat-form-field>
            <!-- Add product button -->
           
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden" class="contains">

        <!-- Products list --> 
        <div style="background-color:rgb(255, 255, 255);" class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto" class="contains">

            <ng-container *ngIf="(products$ | async) as products">
                <ng-container *ngIf="products.length > 0; else noProducts">
                    <div >
                        <!-- Header -->
                        <div
                        class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
       
                            matSort
                            matSortDisableClear >
                            
                            <div class="hidden md:block">
                                ID
                            </div>
                            <div>
                              ROLE
                            </div>
                            <div class="hidden sm:block">
                                EMAIL
                            </div>
                            <div  class="hidden sm:block">
                                NOM
                            </div>
                            <div  class="hidden sm:block">
                                PRENOM
                            </div>
                            <div class="hidden sm:block">
                              Detaill
                            </div>
                      
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(products$ | async) as products">
                            <ng-container *ngFor="let product of products; trackBy: trackByFn">
                                <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                    <div class="hidden md:block truncate">
                                        {{ product.id }}
                                    </div>

                                    <!-- Name  truncate-->
                                    <div class="hidden sm:block">
                                        
                                        <span
                                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                        [ngClass]="{'bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-blue-50': product.role === 'utilisateur',
                                                    'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': product.role === 'admin'}">
                                        <span class="leading-relaxed whitespace-nowrap">{{product.role}}</span>
                                    </span>
                                    </div>
                                    <div class="hidden sm:block">
                                        {{ product.email }}
                                    </div>
                                    <!-- Price -->
                                    <div class="hidden sm:block">
                                        {{ product.nom}}
                                    </div>

                                    <!-- Stock -->
                                  

                                    <!-- Active -->
                                    <div class="hidden sm:block">
                                      {{ product.prenom }}
                                  </div>
                                
                                    <!-- Details button -->
                                    <div>
                                        <button
                                            mat-stroked-button
                                            (click)="toggleDetails(product.id)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="selectedProduct?.id === product.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div >
                                    <ng-container *ngIf="selectedProduct?.id === product.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: product}"></ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <!-- blasethe -->

                </ng-container>
            </ng-container>

            <ng-template
                #rowDetailsTemplate
                let-product>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <!-- Selected product form -->
                        <form
                            class="flex flex-col w-full"
                            [formGroup]="selectedProductForm">

                            <div class="flex flex-col sm:flex-row p-8">

                                <!-- Product images and status -->
                               

                                
                                    <!-- Name, SKU & etc. -->
                                    <div class="flex flex-auto flex-wrap">
                                        <!-- Name, SKU & etc. -->
                                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
    
                                            <!-- Name -->
                                            <mat-form-field class="w-full">
                                                <mat-label>Nom</mat-label>
                                                <input
                                                type="text"
                                                    matInput
                                                    [formControlName]="'nom'">
                                            </mat-form-field>

                                            <mat-form-field class="w-full">
                                                <mat-label>Email</mat-label>
                                                <input
                                                type="text"
                                                    matInput
                                                    [formControlName]="'email'">
                                            </mat-form-field>

                                           
    
                                           
                                        </div>
    
                                        <!-- Cost, Base price, Tax & Price -->
                                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">

                                            <mat-form-field class="w-full">
                                                <mat-label>Prenom</mat-label>
                                                
                                                <input
                                                type="text"
                                                    matInput
                                                    [formControlName]="'prenom'">
                                            </mat-form-field>

                                            <mat-form-field class="w-full">
                                                <mat-label>Role</mat-label>
                                                
                                                <input
                                                   type="text"
                                                    matInput
                                                    [formControlName]="'role'">
                                            </mat-form-field>

                                           
                                            
                                        </div>
    
                                        <!-- Weight & Tags -->
                                      
    
                                    </div>

                                

                            </div>

                            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                <button
                                    class="-ml-4"
                                    mat-button
                                    [color]="'warn'"
                                    (click)="deleteSelectedProduct()">
                                    Supprimer
                                </button>
                                <div class="flex items-center">
                                    <div
                                        class="flex items-center mr-4"
                                        *ngIf="flashMessage">
                                        <ng-container *ngIf="flashMessage === 'success'">
                                            <mat-icon
                                                class="text-green-500"
                                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">Modifier utilisateur</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'error'">
                                            <mat-icon
                                                class="text-red-500"
                                                [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            <span class="ml-2">ERREUR, une autre fois!</span>
                                        </ng-container>
                                    </div>
                                    <button
                                        mat-flat-button
                                        [color]="'primary'"
                                        (click)="updateSelectedProduct()">
                                        Modifier
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </ng-template>

            <ng-template #noProducts>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">VIDE!</div>
            </ng-template>

        </div>

    </div>

</div>
