<div class="flex flex-col flex-auto min-w-4">


    <form class="flex flex-col mt-10 p-10 pb-8 bg-card rounded-2xl shadow overflow-hidden">
    <div class="mt-4 text-4xl font-extrabold tracking-tight leading-tight">Ajouter Parent</div>
      <br><br>
    <div class="flex flex-col gt-xs:flex-row">
          <mat-form-field
              [ngClass]="formFieldHelpers"
              class="flex-auto gt-xs:pr-3">
              <mat-label>Nom</mat-label>
              <input matInput>
              <mat-icon
                  class="icon-size-5"
                  matSuffix
                  [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
          </mat-form-field>
  
        
          <mat-form-field
              [ngClass]="formFieldHelpers"
              class="flex-auto gt-xs:pl-3">
              <mat-label>Prenom</mat-label>
              <input matInput>
              <mat-icon
                  class="icon-size-5"
                  matSuffix
                  [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
          </mat-form-field>
  
          <mat-form-field
          [ngClass]="formFieldHelpers"
          class="flex-auto gt-xs:pr-3">
          <mat-label>Fils</mat-label>
          <input matInput>
          <mat-icon
              class="icon-size-5"
              matSuffix
              [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
      </mat-form-field>
  
      <mat-form-field class="flex-auto gt-xs:pl-3">
        <mat-select [placeholder]="'Parents'">
          <mat-option value="Spécialité">Mère</mat-option>
            <mat-option value="Spécialité1">Père</mat-option>
           
        </mat-select>
        
    </mat-form-field>
      </div>
     
      
      <mat-form-field
              [ngClass]="formFieldHelpers"
              class="flex-auto gt-xs:pr-3">
              <mat-label>Email</mat-label>
              <input matInput>
              <mat-icon
                  class="icon-size-5"
                  matSuffix
                  [svgIcon]="'heroicons_solid:mail'"></mat-icon>
          </mat-form-field>
      <div class="flex flex-col gt-md:flex-row">
        <mat-form-field
        [ngClass]="formFieldHelpers"
        class="flex-auto">
        <mat-label>CIN</mat-label>
        <input
            matInput
            maxlength="8"
            #postalCode>
        <mat-hint align="end">{{postalCode.value.length}} / 8</mat-hint>
        <mat-icon
            class="icon-size-5"
            matSuffix
            [svgIcon]="'heroicons_solid:identification'"></mat-icon>
    </mat-form-field>
          
          
      </div>
      <div class="flex">
        <mat-form-field
              [ngClass]="formFieldHelpers"
              class="flex-auto gt-md:pr-3">
              <mat-label>Numero</mat-label>
              <input matInput>
              <mat-icon
                  class="icon-size-5"
                  matSuffix
                  [svgIcon]="'heroicons_solid:phone'"></mat-icon>
          </mat-form-field>
  
          <mat-form-field
          [ngClass]="formFieldHelpers"
          class="flex-auto gt-xs:pr-3">
          <mat-label>Adresse</mat-label>
          <input matInput>
          <mat-icon
              class="icon-size-5"
              matSuffix
              [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
      </mat-form-field>
      </div>
     
    
 
      <br>
      <button mat-raised-button color="primary">Ajouter</button>
    </form>
    </div>
