<div class="flex flex-col flex-auto min-w-4">


<form class="flex flex-col mt-10 p-10 pb-8 bg-card rounded-2xl shadow overflow-hidden">
<div class="mt-4 text-4xl font-extrabold tracking-tight leading-tight">Ajouter Utilisateur</div>
  <br><br>
<div class="flex flex-col gt-xs:flex-row">


      <mat-form-field
          [ngClass]="formFieldHelpers"
          class="flex-auto gt-xs:pr-3">
          <mat-label>Nom</mat-label>
          <input matInput>
          <mat-icon
              class="icon-size-5"
              matSuffix
              [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
      </mat-form-field>
      <mat-form-field
          [ngClass]="formFieldHelpers"
          class="flex-auto gt-xs:pl-3">
          <mat-label>Prenom</mat-label>
          <input matInput>
          <mat-icon
              class="icon-size-5"
              matSuffix
              [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
      </mat-form-field>
  </div>
 
  
  <mat-form-field
          [ngClass]="formFieldHelpers"
          class="flex-auto gt-xs:pr-3">
          <mat-label>Email</mat-label>
          <input matInput>
          <mat-icon
              class="icon-size-5"
              matSuffix
              [svgIcon]="'heroicons_solid:mail'"></mat-icon>
      </mat-form-field>
  
      <mat-form-field class="flex-auto gt-xs:pl-3">
        <mat-label>Role</mat-label>
        <mat-select [placeholder]="'accueil ->eleve '">
          <mat-option value="eleve">utilisateur</mat-option>
            <mat-option value="eleve1">admin </mat-option>
            <mat-option value="employes">admin </mat-option>
            <mat-option value="employes1">utilisateur</mat-option>
        </mat-select>
        
    </mat-form-field>



    <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input
            id="password"
            matInput
            type="password"
            [formControlName]="'password'"
            #passwordField>
        <button
            mat-icon-button
            type="button"
            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
            matSuffix>
            <mat-icon
                class="icon-size-5"
                *ngIf="passwordField.type === 'password'"
                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
            <mat-icon
                class="icon-size-5"
                *ngIf="passwordField.type === 'text'"
                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
        </button>
        <mat-error>
            Password is required
        </mat-error>
    </mat-form-field>
  
<br>
  <button mat-raised-button color="primary">Ajouter</button><br>
  <button mat-stroked-button>Annuler</button>
</form>
</div>