<div class="flex flex-col flex-auto min-w-4" style="margin: 30px 30px;">
    <div class="mt-4 text-4xl font-extrabold tracking-tight leading-tight">Liste Categories</div><br><br><br>
    <table  style="background-color:rgb(255, 255, 255);"  class="mat-elevation-z8">
  
        <tr>
            <td style="font-size:20px;">
                <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:home'"></mat-icon>
                Accueil <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
                Eleves</td>
          </tr>
      
      
      
          <tr>
            <td style="font-size:20px;">
                <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:home'"></mat-icon>
                Accueil <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
                Employes</td>
          </tr>
      
      
          <tr style="font-size:20px;">
              <td>
                <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:home'"></mat-icon>
                Accueil <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
                Specialité</td>   
          </tr>
      
            <tr>
              <td style="font-size:20px;">
                <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:home'"></mat-icon>
                Accueil <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
                Devoirs</td>
            </tr>
  
      
      
    </table>
  </div>