<div class="flex flex-col flex-auto min-w-4" style="margin: 30px 30px;">
    <form class="flex flex-col mt-10 p-10 pb-8 bg-card rounded-2xl shadow overflow-hidden">
        <div class="mt-4 text-4xl font-extrabold tracking-tight leading-tight">Modifier paiement</div>
          <br><br>
        <div class="flex flex-col gt-xs:flex-row">
              <mat-form-field
                  [ngClass]="formFieldHelpers"
                  class="flex-auto gt-xs:pr-3">
                  <mat-label>Titre</mat-label>
                  <input matInput>
              </mat-form-field>
              <mat-form-field
              [ngClass]="formFieldHelpers"
              class="flex-auto gt-xs:pr-3">
              <mat-label>banque</mat-label>
              <input matInput>
          </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Date de paiement </mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div class="flex">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>Type de paiement </mat-label>
                  <mat-select [placeholder]="'Spécialité'">
                    <mat-option value="Spécialité">Cash</mat-option>
                      <mat-option value="Spécialité1">Virement</mat-option>
                      <mat-option value="Spécialité2">Chèque</mat-option>
                      <mat-option value="Spécialité3">Autre</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            
           
            <mat-form-field
            [ngClass]="formFieldHelpers"
            class="fuse-mat-textarea flex-auto">
            <mat-label>Description</mat-label>
            <textarea
                matInput
                [rows]="3"
                matTextareaAutosize></textarea>
            <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="''"></mat-icon>
        </mat-form-field>
      <br>
      <div class="row" class="contains">
        <button mat-raised-button color="primary">Modifier</button>
        <button mat-stroked-button>Annuler</button>
      </div>